body {
  display: flex;
}

#form-container {
  width: 30%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

#form-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#form-container input[type="text"],
#form-container input[type="number"],
#form-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#send-btn {
  width: 100%;
  padding: 10px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#send-btn:hover {
  background-color: #005bb5;
}

#send-btn:disabled {
  background-color: #d3d3d3;
  color: #a0a0a0;
  cursor: not-allowed;
  border: 1px solid #ccc;
}

#send-btn:disabled:hover {
  background-color: #d3d3d3;
  color: #a0a0a0;
}

#graph-container {
  width: 70%;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cy {
  width: 100%;
  height: 600px;
  display: block;
}

#json-panel {
  margin-top: 30px;
}

.json-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#copy-json-btn {
  background-color: #0074d9;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

#copy-json-btn:hover {
  background-color: #005bb5;
}

#json-output {
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  font-size: 13px;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 10px;
}

.copy-button-wrapper {
  position: relative;
  display: inline-block;
}

.copy-tooltip {
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
  /* Tooltip appearance */
  background-color: #28a745;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 12px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.copy-tooltip.show {
  visibility: visible;
  opacity: 1;
}

.input-field {
  display: none;
  margin-bottom: 10px;
}

.tooltip {
  position: absolute;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  max-width: 300px;
  z-index: 1000;
}

.error-message {
  display: none;
  color: red;
  padding: 0px 3px;
  font-size: small;
  margin-top: -5px;
}

.popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  display: none;
  z-index: 10;
  pointer-events: auto;
  width: auto;
  min-width: 200px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

.popup .close-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  background: transparent;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

.popup-content {
  overflow-y: auto;
  scrollbar-width: thin;
}

.popup-content .property-label {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

.popup-content .property-item {
  margin-bottom: 2px;
  font-size: 14px;
}